anaconda-anon-usage==0.5.0
Brotli==1.0.9
conda-anaconda-telemetry==0.1.2
conda-anaconda-tos==0.1.2
conda-content-trust==0.2.0
crewai==1.10.1
Django==5.2.1
fastapi==0.124.4
httptools==0.7.1
langchain==1.2.12
langchain-groq==1.1.2
linkify-it-py==2.1.0
pip==25.0
PuLP==3.3.0
PySocks==1.7.1
tensorflow_cpu==2.20.0
timm==1.0.22
uvloop==0.22.1
watchfiles==1.1.1
websockets==16.0
